@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005f86;
}


header {
  background: #005f86;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 50px auto;   
  padding: 20px;
  text-align: center;
  background: #1f96c6;
  border-radius: 8px;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;}

.encabezado-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #005f86;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;}


main {
  padding-top: 140px;}


.titulo-logo {
  display: flex;
  align-items: center;
  gap: 10px;}

.titulo-animado {
  animation: aparecer 1.5s ease-in-out;}

.logo-animado {
  width: 70px;
  height: auto;
  animation: girar 2s ease-in-out;}


@keyframes aparecer {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }}

@keyframes girar {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }}


.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;}

.nav-list a {
  text-decoration: none;
  color: white;
  background: #0073a8;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;}

.nav-list a:hover {
  background: #004d63;}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;}

th {
  background-color: #0073a8;
  color: white;}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;}

input, textarea, button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;}

button {
  background: #0073a8;
  color: white;
  cursor: pointer;}

button:hover {
  background: #005f86;}

.flecha-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0073a8;
  color: white;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 20px;
  text-decoration: none;
  transition: #004d63;}

.flecha-arriba:hover {
  background: white;}

  body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: auto;
}

.formulario-ejemplo {
  width: 300px;            
  padding: 20px;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
